.cart-info{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.cart {
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 20px;
    margin-left: 10px;
    width: 70%;
  }
  .cart .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, white,lightblue);
  }
  .cart .card img {
    width: 40px;
    height: 40px;
  }
  .cart .card p {
    width: 200px;
  }
  .cart .card .quantity {
    display: flex;
    align-items: center;
    height: 48px;
    border: 1px solid rgb(36, 91, 219);
    border-radius: 10px;
  }
  #saveForLater{
    height: 46px;
    color: black;
    font-size: small;
    text-align: center;
    cursor: pointer;
    background-color: lightcyan;
    margin-right: 10px;
  }
  #left{
    width: 70px;
    height: 48px;
    color: white;
    font-size: larger;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid rgb(36, 91, 219);
    background-color: rgb(36, 91, 219);
  }
  #middle{
    width: 70px;
    height: 46px;
    color: black;
    font-size: larger;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(36, 91, 219);
    background-color: white;
  }
  #right{
    width: 70px;
    height: 48px;
    color: white;
    font-size: larger;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(36, 91, 219);
    background-color: rgb(36, 91, 219);
  }
  .cart .card .quantity p {
    width: 50px;
    text-align: center;
  }
  .cart .card .quantity button {
    width: 50px;
  }
  .cart .total {
    text-align: right;
    width: 100%;
    border-top: 1px solid black;
  }
  .recommend{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 40px;
    width: 27%;
    padding: 20px;
    border: 0.5px solid grey;
  }

  .subtotal{
    font-size: 18px;
  }

  #price{
    font-size: 24px;
    font-weight: bold;
  }

  .backButton{
    display: flex;
    justify-content: center;
    align-items: center;
  }