.list-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.list-info {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding: 20px;
  margin-left: 10px;
  width: 70%;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding: 20px;
  margin-left: 10px;
  width: 70%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(to right, white,lightblue);
}

.list-item img {
  width: 40px;
  height: 40px;
}

.list-item p {
  width: 200px;
}

.list-operation {
  display: flex;
  align-items: center;
  height: 120px;
  border-radius: 10px;
}

.list-operation button {
  color: rgb(0, 0, 0);
  font-size: larger;
  cursor: pointer;
  margin: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(64, 116, 237);
  border:2px solid rgb(64, 116, 237) 
}

.list-operation button:hover {
  border:2px solid rgb(64, 116, 237) 
}

.productName:hover {
  text-decoration: underline;
  color:darkblue;
  cursor: pointer;
}